<div class="row">
	<div class="col-sm-3 col-md-2 sidebar">
      <div class="row profile">
	      <div class="col-md-6 profile_pic">
		      <img class="img-thumbnail" src="view/images/me.jpg">
	      </div>

	      <div class="col-md-6 profile_slogan">
		      Community<br /> Do-Gooder

		      <span class="points">
			      2,560<br />
			      Weev Points
		      </span>

	      </div>

      </div>

	  <div class="clearfix"></div>

	  <div class="border-row">
		  <ul class="nav nav-sidebar">
			<li><a href="#">My Community</a></li>
			<li class="active"><a href="#">My Profile</a></li>
			<li><a href="#">Photos</a></li>
			<li><a href="#">Friends</a></li>
			<li><a href="#">Calendar</a></li>
			<li><a href="#">History</a></li>
			<li><a href="#">Donations Summary</a></li>
			<li><a href="#">Rewards & Ranking</a></li>
			<li><a href="#">Settings</a></li>
		  </ul>
	  </div>

	  <div class="border-row favorites">
		  <h3>Favorites <i class="fa fa-heart"></i></h3>
		  <ul class="list-inline">
			  <li><img class="img-thumbnail" src="view/images/icon1.png"></li>
			  <li><img class="img-thumbnail" src="view/images/icon2.png"></li>
			  <li><img class="img-thumbnail" src="view/images/icon3.png"></li>
		  </ul>
	  </div>

	</div>

	
	
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<div class="top_headline">
			<ul class="list-inline">
				<li>Get Involved</li>
				<li>All Nonprofits</li>
				<li class="yellow-text">Shop Local</li>
			</ul>
		</div>

	  <div class="row placeholders border-box-blue">
	    <div class="col-md-12">
		  <h2 class="sub-header blue-text">How the WeevU Mobile App Works<br /><span class="small">Earn 4 points every time you use the mobile app.</span></h2>

	    </div>
		  <div class="col-md-3">
			  <img class="img-thumbnail" src="view/images/step1.png">
			  <ul class="steps list-inline">
				  <li class="active">Step 1 <div class="fa fa-arrow-right"></div></li>
				  <li>Step 2</li>
				  <li>Step 3</li>
				  <li>Step 4</li>
			  </ul>
		  </div>
		  <div class="col-md-3">
			  <img class="img-thumbnail" src="view/images/step2.png">
			  <ul class="steps list-inline">
				  <li>Step 1</li>
				  <li class="active">Step 2 <div class="fa fa-arrow-right"></div></li>
				  <li>Step 3</li>
				  <li>Step 4</li>
			  </ul>
		  </div>
		  <div class="col-md-3">
			  <img class="img-thumbnail" src="view/images/step3.png">
			  <ul class="steps list-inline">
				  <li>Step 1</li>
				  <li>Step 2</li>
				  <li class="active">Step 3 <div class="fa fa-arrow-right"></div></li>
				  <li>Step 4</li>
			  </ul>
		  </div>
		  <div class="col-md-3">
			  <img class="img-thumbnail" src="view/images/step4.png">
			  <ul class="steps list-inline">
				  <li>Step 1</li>
				  <li>Step 2</li>
				  <li>Step 3</li>
				  <li class="active">Step 4</li>
			  </ul>
		  </div>
	  </div>
	</div>
</div>

    


