/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}
.navbar-inverse .navbar-brand{
	color:#FFF;
}

.navbar-inverse .navbar-brand:hover{
	color:#fff104;
}

.navbar-inverse .navbar-nav>li>a{
	color:#FFF;
}

.navbar-inverse .navbar-nav>li>a:hover{
	color:#fff104;
}

.navbar-inverse{
	background-color:#30424e;
	color:#FFF;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
	background-color:#30424e;
	color:#FFF;
}


.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	color:#fff104;
	background-color:#30424e;
}

.navbar-brand img{
	display:inline;
	height:40px;
	margin-top:-9px;
	vertical-align: middle;
}

.navbar-brand{

}




/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
	padding-top:20px;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 30px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #30424e;
    border-right: 1px solid #eee;
	  height:100%;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  background-color:#30424e;
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
	padding-top:20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
	font-weight: bold;
	color:#FFF;
}

.nav-sidebar > li > a:hover{
	background-color:#cbcbcb;
	color:#000;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #3d3d3d;
  background-color: #cbcbcb;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
*
*/
.profile{
	padding-top: 20px;
	margin-bottom: 20px;
	overflow: auto;
}

.profile .profile_pic img{

}

.profile .profile_slogan{
	color:#fff104;
	font-weight: bold;
	font-size:16px;
	text-align: center;
}

.profile .profile_slogan .points{
	color: #cbcbcb;
	display:block;
	margin-top:16px;
}

.favorites{
	text-align: center;
}

.favorites h3{
	color:#FFF;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.border-row {
	border-top: 1px solid #263641;
}


.yellow-text{
	color:#fff104;
}

.blue-text{
	color:#30424e;
}

.border-box-blue{
	border:1px solid #30424e;
}


footer{
	margin-top:50px;
}

.steps{
	margin-top:5px;
}


.steps li.active{
	background-color:#29a7d1;
	color:#FFF;

}

.margin-top-5px{
	margin-top:5px;
}