div {
     /*inset shadow for visual aid only: allow to easily see the div boundaries */
    /*box-shadow: 0 0 1px black inset;*/
}

#contentBox {
    /*margin: 0 auto;*/
    margin-left: 16%;
    margin-right: 0;
		/*margin-top: 0.75em;*/
}

/*#contentBox .column {
    float: left;
    margin: 0;
    width: 33%;
}*/

.column-title > p{
	text-align: center;
	font-weight: bolder;
	font-size: large;
	letter-spacing: 2px;
}

.left{
	float: left;
	padding-left: 1em;
	margin: 4px -2px 4px;
}

.my-community-row {
	margin-right: auto;
}

.top-row-container{
	border-right: 2px solid lightgray;
	border-bottom: 2px solid lightgray;
	height: 10em
}

.top-row-container-last{
	border-bottom: 2px solid lightgray;
	height: 10em
}

.box-1{
	padding-top: 2em;
	padding-left: !important 0px;
}

.top-row-words{
	font-size: 1.75em;
	margin-bottom: -0.25em;
	text-align: center;
	font-weight: 500;
}

.top-row-points{
	font-size: 3em;
	font-weight: 200;
	margin-top: 1em;
	margin-bottom: auto
}

.contianer-fluid{
	padding-right: !important 0px;
}


/*     scrolling elements   */
.scrolling-list{
	width: 32.25%;
	padding-top: 1em;
	padding-right: 1em;
	padding-left: 1em;
}

.top-scrolling-list{
	border-bottom: 3px solid lightgrey;
	
}

.top-scrolling-list ol{
	height:16em; 
	padding-left: 6em;
	overflow:hidden; 
	overflow-y:scroll;
}

.top-scrolling-list p{
	padding-top: 0em;
	font-size: 1.5em;
	text-align: center;
}

.top-scrolling-list li{
	padding-bottom: 0.5em;
	font-weight: 600;
}

.clearfix{
	overflow: auto;
}

.list-pic{
	max-width: 2.5em;
	border: 2px solid black;
	border-radius: 4px;
}

.scroll-title{
	margin-bottom: !important 0 0 0 0;
}

.no-border{
	border-bottom: 0;
}

/* middle pictures */

.mid-pic-column{
	width: 33.85%;
	padding-right: 0px;
	overflow:hidden; 
	overflow-y:scroll;
	height: 40em;
}

.mid-pic-box{
	border-bottom: 3px solid lightgrey;
}

.mid-pic{
	width: 100%;
	position: relative;
	padding-top: 1em;
	padding-bottom: 0.5em;
	height: 20em;	

}

/*business scrolling on the left*/
.business-list{
	border-bottom: 3px solid lightgrey;
}

.business-list p{
	padding-top: 0em;
	font-size: 1.5em;
	text-align: center;
}

.business-list ol{
	height: 16em;
	padding-left: 6em;
	overflow:hidden; 
	overflow-y:scroll;

}
.business-list li{
	padding-bottom: 0.5em;
	font-weight: 600;
}

.business-list-pic{
	max-width: 4.5em;
	border: 2px solid black;
	border-radius: 4px;
}

/*top companies of the week*/

.nonprofit-list p{
	padding-top: 0em;
	font-size: 1.5em;
	text-align: center;
}

.nonprofit-list ol{
	list-style: none;
	height: 16em;
	overflow:hidden; 
	overflow-y:scroll;

}

.nonprofit-list ol li{
	float: left;	
}

.top-nonprofits-pic{
	height: 9em;
	padding-left: 2em;
	padding-bottom: 1em;
	/*border: 2px solid black;*/
}



/*.border-row{
	bor
}*/

.glyphicon{

}

.pic-likes{
	text-align: right;
}


.navbar-right{
	margin-right: 0px;	
}



