/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}
.navbar-inverse .navbar-brand{
	color:#FFF;
}

.navbar-inverse .navbar-brand:hover{
	color:#fff104;
}

.navbar-inverse .navbar-nav>li>a{
	color:#FFF;
}

.navbar-inverse .navbar-nav>li>a:hover{
	color:#fff104;
}

.navbar-inverse{
	background-color:#30424e;
	color:#FFF;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
	/*width: 32em;*/
	background-color:#30424e;
	color:#FFF;
}


.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	color:#fff104;
	background-color:#30424e;
}

.navbar-brand img{
	display:inline;
	height:40px;
	margin-top:-9px;
	vertical-align: middle;
}

.navbar-brand{

}




/*
 * Global add-ons
 */
.opacity8{
	opacity: 0.8;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

.search-bar{
	width: 32em !important;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
	padding-top:20px;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 30px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #30424e;
	  height:100%;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  background-color:#30424e;
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
	padding-top:20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
	font-weight: bold;
	color:#FFF;
}

.nav-sidebar > li > a:hover{
	background-color:#cbcbcb;
	color:#000;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #3d3d3d;
  background-color: #cbcbcb;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
*
*/
.profile{
	padding-top: 20px;
	margin-bottom: 20px;
	overflow: auto;
}

.profile .profile_pic img{

}

.profile .profile_slogan{
	color:#cbcbcb;
	font-weight: bold;
	font-size:13px;
	text-align: center;
}

.profile .profile_slogan .points{
	color: #cbcbcb;
	font-size:11px;
}

.profile .profile_slogan .points .amount{
    font-size:20px;
    display:block;
}

.favorites{
	text-align: center;
}

.favorites h3{
	color:#FFF;
}

.top_headline{
    overflow:auto;
    color:#FFF;
    background-color:#898A8A;
    padding:8px 10px 8px 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size:20px;
    font-weight: bold;
}

.top_headline > div{
    width: 50% !important;
}

.top_headline a{
    color:#FFF;
}

.top_headline a.yellow-text{
    color:#fff104;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.fixwidth{
    width:32.333333%;
}

.nonprofit_window{
    padding:0px;
    margin:0px;
    margin-right:10px;
    border:2px solid #30424e;
}

.nonprofit_window .window_headline{
    padding:5px;
}

.nonprofit_window .window_headline h3{
    margin-top:0px;
    font-weight:bold;
}
.nonprofit_window > .favorites_button > a:hover{
    color:#CCC;
}


.nonprofit_window .window_content .nonprofit_logo{
    position: absolute;
    top:50px;
    left:10px;
}

.nonprofit_window .window_content .message_window{
    position: absolute;
    bottom: 0px;
    background-color:#FFF;
    opacity: 0.8;
}

.nonprofit_window .window_content .message_window p{
    opacity: 1;
    padding:5px;
    font-weight: bold;
}




.bold-text{
    font-weight: bold;
}

.border-row {
	border-top: 1px solid #263641;
}

.border-row-right{
	border-right: 1px solid #263641;
}

.green-text{
    color:#35ae71;
}

.lightblue-text{
    color: #00a4da;
}

.yellow-text{
	color:#fff104;
}

.blue-text{
	color:#30424e;
}

.white-text{
	color:#FFF;
}

.border-box-blue{
	border:1px solid #30424e;
}


footer{
	margin-top:50px;
}

.steps{
	margin-top:5px;
}


.steps li.active{
	background-color:#29a7d1;
	color:#FFF;

}

.margin-top-5px{
	margin-top:5px;
}

.margin-top-10px{
	margin-top:10px;
}

.margin-top-15px{
	margin-top:15px;
}

.margin-top-20px{
	margin-top:20px;
}

.margin-bottom-5px{
	margin-bottom:5px;
}

.margin-bottom-10px{
	margin-bottom:10px;
}

.margin-bottom-15px{
	margin-bottom:15px;
}

.margin-bottom-20px{
	margin-bottom:20px;
}


.padding-top-5px{
	padding-top:5px;
}

.padding-top-10px{
	padding-top:10px;
}

.padding-top-15px{
	padding-top:15px;
}

.padding-top-20px{
	padding-top:20px;
}

.padding-bottom-5px{
	padding-bottom:5px;
}

.padding-bottom-10px{
	padding-bottom:10px;
}

.padding-bottom-15px{
	padding-bottom:15px;
}

.padding-bottom-20px{
	padding-bottom:20px;
}

.nopadding{  padding:0px; }
.nomargins{ margin:0px; }

.category-search{
  width: 115% !important
}

.nearby-search{
  width: 86% !important;
  margin-left: 5em;


/************ GET INVOLVED *************/
.green_background{
	background-color: #0d994c;
	color:#FFF;
}

.opportunities .col-sm-12 .col-md-2 .event_date{
	font-weight: bold;
}

.opportunities .col-md-10 .event_headline{
	position: absolute;
	width:100%;
	padding:3px;
	font-weight: bold;
}

.opportunities .col-md-10 .event_content_tagline{
	width:100%;
	position: absolute;
	top:40%;
	padding:3px;
}

.opportunities .col-md-10 .event_address{
	width:150px;
	position: absolute;
	bottom: 0;
	font-size:10px;
	padding:3px;
}

.opportunities .col-md-10 .event_read_more{
	padding:3px;
	font-weight:bold;
	position: absolute;
	bottom: 0;
	right:0;
}


.lightblue_background{
	background-color: #2b9cd5;
	color:#FFF;
}

.black_background{
	background-color: #000;
}

.events .col-sm-12 .col-md-5 .event_img{

}

.events .col-sm-12 .col-md-5 .event_logo{
	position: absolute;
	top:0;
	left:0;
}

.events .col-sm-12 .col-md-5 .event_logo img{
	height:50px;
}

.events .col-sm-12 .col-md-5 .event_date{
	position: absolute;
	bottom:0;
	right:0;
	padding:3px;
}

.events .col-sm-12 .col-md-6 .event_headline{
	width:100%;
	padding-left:3px;
	font-weight: bold;
}

.events .col-sm-12 .col-md-6 .event_content_tagline{
	padding-left:3px;
}

.events .col-sm-12 .col-md-6 .event_address{
	font-size:10px;
	padding-left:3px;
}

.events .col-sm-12 .col-md-6 .event_menu_buttons{
	margin-top:22px;
	padding-left:3px;
}

.events .col-sm-12 .col-md-1.event_price_container{
	position: absolute;
	top:40%;
	right:0;
}

.events .col-sm-12 .col-md-1.event_price_container .event_price{
	font-weight: bold;
	color: #218bb4;
	padding:5px 8px 5px 8px;
}

.btn-grey{
	background-color: #868888;
	color:#FFF;
}