.top_headline > div{
	width: 33% !important;
}

.top_headline a:hover{
	text-decoration: none;
}

.company-banner img{
	width: 100%;
	height: 13em;
}

.photos-header{
	text-align: center;
	margin-bottom: 0px;
}

.blue-box{
	height: 15em;
	background-color: #30424e;
	margin-right: 1em;
	margin-top: 1em;
}

.blue-box-content{
	padding-top: 3.5em;
}

.blue-box-content p{
	background-color: lightgrey;
	height: 4em;
	padding: 0.5em;
	text-align: center;
	font-size: 2em;
	font-weight: 500;
}

.kids{
	margin-top: 3.5em;
	padding-top: 4.5em;
}

.kids p{
	height: 3em;
}

.social-media-box{
	height: 13em;
	margin-right: 1em;
	margin-bottom: 1em;
	margin-top: 6em;
}

.social-media-title{
	text-align: center;
	font-size: 2em;
}


.icon{
	padding-right: 0.25em;
}

.mid-pic-column{
	height: 55em;
}

.trademark-box{
	margin-top: 2em;
}

.trademark{
	font-size: 1em;
	text-align: center;
	margin-bottom: 0px;
}

.scrolling-list{
	padding-top: 0em;
}

